body {
	background-color: #fff;
	margin: 0;
	
}

.container {
	width: 100%;
}
/*Navigation */	

/* Add a background color to the top navigation */
nav {
  background-color: #85203e;
  overflow: hidden;
  text-align: center;
}

/* Hide Hamburger */
nav label, #hamburger {
  display: none;
}

nav ul {
	display: inline-block;
	width:600px;
	list-style-type: none;
	margin: 0 auto;
}

/* Style the links inside the navigation bar */
nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 17px;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: 'Nunito', sans-serif;
  
}

/* Change the color of links on hover */
nav a:hover {
  background-color: #ff9497;
  color: black;
}

/* Add a color to the active/current link */
nav a.active {
    color: white;
}

@media screen and (max-width: 650px){
  /* Show Hamburger */
  nav label {
    display: inline-block;
    color: #fff;
    background: #85203e;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
    }
  
  /* Break down menu items into vertical */
  nav ul  {
    max-width: 95px;
  }
 
  nav a {
    font-size: 0.9rem;
    padding: 10px 5px;
  }
  

  /* Toggle show/hide menu on checkbox click */
  nav ul {
    display: none;
  }
  nav input:checked ~ ul {
    display: block;
  }
}

/* header */

.head-image {
	background-image: url('pink-cake-header.jpg');
	width: 100%;
	height: 400px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-color: #ff9497;
	border-bottom: 3px solid #85203e;
}

.header-text {
	text-align: center;
	text-shadow: 2px 2px 3px #85203e;
	width: 100%;
	position: absolute;
}

.header-text h1 {
	font-size: 6rem;
	font-family: 'Allura', cursive;
	color: white;
}

/* header media queries*/
@media only screen and (max-width: 900px) {
	.head-image {
		height: 250px;
	}
	.header-text h1 {
		font-size: 5rem;
	}
}

@media only screen and (max-width: 600px) {
	.head-image {
		height: 200px;
	}
	.header-text h1 {
		font-size: 4rem;
	}
}
@media only screen and (max-width: 400px) {
	.head-image {
		height: 150px;
	}
	.header-text h1 {
		font-size: 3rem;
	}
}

/* main content on all pages*/
.main {
	max-width: 800px;
	text-align: center;
	margin: 0 auto;
	padding-bottom: 20px;
}

@media only screen and (max-width: 900px) {
	.main {
		max-width: 80%;
	}
}

@media only screen and (max-width: 600px) {
	.main {
		max-width: 90%;
	}
}

/* main headings */

h2 {
	font-size:3rem;
	font-family: 'Allura', cursive;
}

h3 {
	font-size: 2.3rem;
	font-family: 'Allura', cursive;
}

h4 {
	font-size: 1.6rem;
	font-family: 'Allura', cursive;
	margin-bottom: 0px;
}

/*main headings media queries*/

@media only screen and (max-width: 900px) {
	h2 {
		margin-bottom: 20px;
	}
	h3 {
		margin-bottom: 0px;
	}
}


@media only screen and (max-width: 600px) {
	h2 {
		font-size: 2.5rem;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	h3 {
		font-size: 2rem;
		margin-bottom: 0px;
	}
}


/* paragraphs*/
p {
	font-size: 1.1rem;
	font-family: 'Nunito', sans-serif;
	
}

@media only screen and (max-width: 600px) {
	p {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 400px) {
	p {
		font-size: 0.85rem;
		max-width: 90%;
		margin: 10px auto;
	}
}

.nomargin {
	margin-top: 0px;
}

/*index sida*/

.vid {
	margin: 50px auto;
	
}

video {
	max-width: 580px;
	max-height: 330px;
}

/*video media queries*/
@media only screen and (max-width: 700px) {
	.vid {
		margin: 20px auto;
	}
	video {
		max-width: 420px;
		max-height: 240px;
	}
}

@media only screen and (max-width: 500px) {
	.vid {
		margin: 20px auto;
	}
	video {
		max-width: 290px;
		max-height: 165px;
	}
}

/*öppettider sida*/ 

/*table properties*/
table {
	min-width: 420px;
	margin: 10px auto;
	padding: 40px;
	font-size: 1.1rem;
	border-collapse: collapse;
	
}
tr:nth-child(odd) {
	background-color: #F0CCD7;
	}
	
th {
	font-size:3rem;
	font-family: 'Allura', cursive;
	background-color: #85203e;
	color: white;
}

table, th, td {
  border: 1px solid black;
  padding: 5px 45px;
}

td {
	font-family: 'Nunito', sans-serif;
}

/*table media queries*/
@media only screen and (max-width: 600px) {
	table {
		font-size: 1rem;
	}
	th {
		font-size: 2.5rem;
	}
	table, th, td {
		padding: 5px 35px;
}
}

@media only screen and (max-width: 430px) {
	table {
		min-width: 250px;
		font-size: 0.8rem;
	}
	th {
		font-size: 1.6rem;
	}
	table, th, td {
		padding: 5px 20px;
}
}


/*Sortiment sida*/
/*style link to look like a button*/

.button {
	background-color: #85203e;
	color: white;
	cursor: pointer;
	display: block;
	text-decoration: none;
	font-family: 'Nunito', sans-serif;
	font-size: 1.1rem;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	width: 200px;
	margin: 0 auto;
	
}
@media only screen and (max-width: 600px) {
	.button {
		font-size: 1rem;
	}
} 
@media only screen and (max-width: 400px) {
	.button {
		font-size: 0.85rem;
	}
} 

/* flex layout*/

.flex-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
    flex-direction: row;
	justify-content: space-between;
	margin-top: 3%;
	margin-bottom: 3%;
} 

.sortiment {
	display: inline-block;
	flex: 1 200px;
	padding: 10px;
	text-align: center;
	
}

.festtårtor {
	text-align: center;
	max-width: 800px;
	margin: auto;
	font-size: 1.1rem;
}

@media only screen and (max-width: 600px) {
	.festtårtor {
		font-size: 1rem;
	}
}

@media only screen and (max-width: 400px) {
	.festtårtor {
		font-size: 0.85rem;
	}
}


/* stripy divs*/
.red  {
	background-color: #85203e;
	min-height: 400px;
	text-align: center;
	color: white;
	padding-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	
	
}

.white {
	background-color: white;
	min-height: 400px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}


.text {
	flex: 1 350px;
}

.text p {
	max-width: 80%;
	margin: 20px auto;
}


.photo {
	flex: 1 350px;
}

@media only screen and (max-width: 718px) {
	.white .text{
		order: 0;
	}
	.white .photo {
		order: 1;
	}
}

/*images*/
.fest-img {
	display: block;
	margin-top: 10%;
	margin-bottom: 10%;
	margin-left: auto;
	margin-right: auto;
	
}

@media only screen and (max-width: 700px) {
	.fest-img {
		margin-top: 5%;
		margin-bottom: 5%;
	}
}

@media only screen and (max-width: 400px) {
	.fest-img {
		width: 60%;
		height: 60%;
		margin-top: 5%;
		margin-bottom: 5%;
	}
}
.red .fest-img {
	border: 10px double white;
}

.white .fest-img {
	border: 10px double #85203e;
}

.företag-img {
	border: 10px double #85203e;
	
}

@media only screen and (max-width: 400px) {
	.företag-img {
		width: 200px;
	}
}

/*kontaktsida*/
.kontaktsida {
	display: flex;
	flex-wrap: wrap;
	margin-top: 3%;
	margin-bottom: 3%;
}



.adress {
	text-align: center;
	flex: 1 350px;
	margin-bottom: 100px;
}


iframe {
	width: 95%;
	height: 65%;
	
}

@media only screen and (max-width: 800px) {
	form {
		text-align: center;
	}
	
}

.kontaktformulär {
	font-family: 'Nunito', sans-serif;
	font-size: 1.1rem;
	margin: 20px;
	padding: 16px;
	background: #ffb8ba;
	flex: 1 350px;
	}

.kontaktformulär input[type="text"],
.kontaktformulär input[type="email"],
.kontaktformulär textarea {
	outline: none;
	box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font-family: 'Nunito', sans-serif;
}

.kontaktformulär input[type="text"]:focus,
.kontaktformulär input[type="email"]:focus,
.kontaktformulär textarea:focus {
	box-shadow: 0 0 5px #85203e;
	padding: 3%;
	border: 1px solid #85203e;
}

.kontaktformulär input[type="submit"]{
	box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background: #85203e;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
border-bottom-style: none;	
	color: #fff;
	font-family: 'Nunito', sans-serif;
	font-size: 1.1rem;
	
}

.kontaktformulär input[type="submit"]:hover {
	cursor: pointer;
}

/* footer */
footer {
	background-color: #85203e;
	color: #fff;
	padding: 10px 12px;
	height: 50px;
	font-family: 'Nunito', sans-serif;
	font-size: 0.9rem;
}

footer p {
	display: inline;
}

footer p a {
	float: left;
	color: white;
}
footer a {
	float:right;
	margin: 0px 10px;
}

footer a img {
	height: 40px;
	border-radius: 50%
	
}

@media only screen and (max-width: 500px) {
	footer a img {
		height: 25px;
	}
	footer {
		font-size: 0.7rem;
	}
}



	
	